body {
    padding: 10px;
}
.title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: grey solid 1px;
    overflow: hidden;
    margin-left: 70px;
}
.content {
    padding-top: 10px;
}

.triangle-facing-right {
    border-right: 2px solid;
    border-bottom: 2px solid;
    width: 7px;
    height: 7px;
    transform: rotate(135deg);
    margin-top: 6px;
}
.audio-play {
    background-image: url("/static/img/audio.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 20px;
    height: 20px;
}
.tools {
    display: flex;
    position: fixed;
    background-color: white;
    padding: 10px;
}
.tools>div {
    margin-left: 10px;
}
.reading_back {
    background-color: blanchedalmond;
}