.p-t {
    padding-top: 20px;
    padding-left: 30px;
}
.w-e-full-screen-container {
    z-index: 100;
}
.p-b-c {
    height: 28px;
    width: fit-content;
    padding: 0px 10px;
    margin-left: -10px;
    cursor: pointer;
}
.p-b-z-index {
    width: 100px;
}
.p-b {
    display: flex;
}
.p-b>div {
    width: 50%
}
.body {
    height: 100%
}
textarea {
    height: 100%;
    width: 95%;
    min-height: 400px;
    padding: 10px;
}
