
<!DOCTYPE html>
<html lang="en">
<title>书本管理</title>
<head th:include="common/common :: common_common"></head>
<head th:include="common/wangEditor :: ueditor_ueditor"></head>
<style type="text/css">
    .layui-tree-line .layui-tree-pack {
        padding-left: 15px;
    }
</style>
<body>
<div class="body">
    <div class="p-t justify">
        <div class="p-t-l">
            <h2>书本管理</h2>
        </div>
        <div class="p-t-r">

        </div>
    </div>
    <div class="p-b flex">
        <div class="p-b-l">

        </div>
        <div class="p-b-r">
            <table class="layui-hide" id="test" lay-filter="test"></table>
        </div>
    </div>
</div>
</body>


<link href="/static/modular/daily/book/detail.css?v=4.1.0" rel="stylesheet"/>
<script src="/static/modular/daily/book/detail.js" ></script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn" lay-event="create">创建</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <div class="flex item-content">
        <i class="layui-btn layui-btn-xs" lay-event="edit">编辑</i>
    </div>
</script>
<script type="text/html" id="menuTPL">
    <ul class="rightClickUl">
        <li class="liHover add"><span class="">添加</span></li>
        <li class="liHover edit"><span class="">编辑</span></li>
    </ul>
</script>
<script type="text/html" id="chapterTPL">
    <form class="layui-form" id="chapterForm">
        <input name="id" type="hidden" value="{{model.id}}"/>
        <input name="bookId" type="hidden" value="{{model.bookId}}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">父章节</label>
            <div class="layui-input-block">
                <div id="parentId" class="xm-select-demo"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input name="name" class="layui-input" required value="{{model.name}}" type="text"/>
            </div>
        </div>
    </form>
</script>
<script type="text/html" id="noteTPL">
    <form class="layui-form" id="form" style="padding-bottom: unset">
        <input name="id" type="hidden" value="{{model.id}}"/>
        <input name="bookId" type="hidden" value="{{model.bookId}}"/>
        <input name="chapterId" type="hidden" value="{{model.chapterId}}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input name="title" class="layui-input" required value="{{model.title}}" type="text"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea name="context" style="display: none"></textarea>
                <!-- 编辑器 DOM -->
                <div style="border: 1px solid #ccc;">
                    <div id="editor-toolbar" style="border-bottom: 1px solid #ccc;"></div>
                    <div id="editor-text-area" style="height: 500px"></div>
                </div>
            </div>
        </div>
    </form>
</script>

<script type="text/javascript">
    var id = "[[${id}]]";
</script>
</html>
