<!DOCTYPE html>
<html lang="en">
<title>书本管理</title>
<head th:include="common/common :: common_common">
    <meta charset="UTF-8">
</head>
<body>
<div class="body">
    <div class="p-t justify">
        <div class="p-t-l">
            <h2>书本管理</h2>
        </div>
        <div class="p-t-r">

        </div>
    </div>
    <div class="p-b">
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>
</div>
</body>



<link href="/static/modular/daily/book/index.css?v=4.1.0" rel="stylesheet"/>
<script src="/static/modular/daily/book/index.js" ></script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn" lay-event="create">创建</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <div class="flex item-content">
        <i class="layui-btn layui-btn-xs" lay-event="edit">编辑</i>
    </div>
</script>
<script type="text/html" id="tpl">
    <form class="layui-form" id="form">
        <input name="id" type="hidden" value="{{model.id}}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input name="name" class="layui-input" required value="{{model.name}}" type="text"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出版时间</label>
            <div class="layui-input-block">
                <input name="publishedDate" class="layui-input" id="publishedDate" required value="{{model.publishedDate}}" type="text"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否完结</label>
            <div class="layui-input-block">
                <input type="checkbox" name="end" lay-skin="switch" lay-text="是|否" {{if model.end}}checked{{/if}}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remark" class="layui-textarea">{{model.remark}}</textarea>
            </div>
        </div>
    </form>
</script>
</html>
