<!DOCTYPE html>
<html lang="en">
<title>面试题管理</title>
<meta name="referrer" content="never">
<head th:include="common/common :: common_common"></head>
<head th:include="common/wangEditor :: ueditor_ueditor"></head>
<style>
    li {
        list-style: unset;
    }
</style>
<body>
<div class="body">
    <div class="p-t justify">
        <div class="p-t-l">
            <h2>面试题管理</h2>
        </div>
        <div class="p-t-r">

        </div>
    </div>
    <div class="p-b">
        <form class="layui-form flex demoTable" id="searchForm">
            <input name="name" class="layui-input" style="width: 200px;" placeholder="标题" id="name" />
            <select name="titleId" lay-filter="titleId">
                <option value="">--面试标题--</option>
                <option th:each="book: ${titles}" th:value="${book.id}" th:text="${book.name}"></option>
            </select>
            <select name="subTitleId" lay-filter="subTitleId">
                <option value="">--子标题--</option>
            </select>
            <button type="button"  class="layui-btn" onclick="page()">搜索</button>
        </form>
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>
</div>
</body>



<link href="/static/modular/daily/interview/index.css?v=4.1.0" rel="stylesheet"/>
<script src="/static/modular/daily/interview/index.js" ></script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn" lay-event="create">创建</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <div class="flex item-content">
        <i class="layui-btn layui-btn-xs" lay-event="edit">编辑</i>
    </div>
</script>
<script type="text/html" id="tpl">
    <form class="layui-form" id="form" lay-filter="form">
        <input name="id" type="hidden" value="{{model.id}}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input name="name" class="layui-input" required value="{{model.name}}" type="text"/>
            </div>
        </div>
        <div style="display: flex;">
            <div class="layui-form-item" style="width: 50%">
                <label class="layui-form-label">面试标题</label>
                <div class="layui-input-block">
                    <select name="titleId" >
                        <option th:each="title: ${titles}" th:value="${title.id}" th:text="${title.name}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" style="width: 50%">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <input name="sort" type="number" min="0" class="layui-input" value="{{model.sort}}"/>
                </div>
            </div>
        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea name="context" style="display: none"></textarea>
                <!-- 编辑器 DOM -->
                <div style="border: 1px solid #ccc;">
                    <div id="editor-toolbar" style="border-bottom: 1px solid #ccc;"></div>
                    <div id="editor-text-area" style="height: 500px"></div>
                </div>
            </div>
        </div>
    </form>
</script>
</html>
