<!DOCTYPE html>
<html lang="en">
<title>面试题管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/modular/daily/interview/mobile.css" rel="stylesheet" >
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/iscroll.js"></script>
<style>
    #list {
        position:absolute;
        z-index:1;
        top:50px;
        left:10px;
        bottom: 10px;
        right: 10px;
    }
    a {
        color: black;
        text-decoration: none;
    }
</style>
<body id="body">
<div>
    <form id="searchForm">
        <input name="name" style="width: 150px; height: 38px;" placeholder="标题"/>
        <select name="titleId" style="height: 44px; padding: 0 5px;">
            <option value="">--面试标题--</option>
            <option th:each="book: ${titles}" th:value="${book.id}" th:text="${book.name}"></option>
        </select>

        <button type="button" onclick="repage()" style="height: 38px; line-height: 38px; background-color: #009688; padding: 0 18px; text-align: center; border: 1px solid transparent; color: #fff; font-size: 14px; border-radius: 2px;">搜索</button>
    </form>
</div>
<div class="list" id="list">
    <div id="scroller">
        <div id="pullDown">
            <span class="pullDownIcon"></span><span class="pullDownLabel">Pull down to refresh...</span>
        </div>
        <div class="thelist">

        </div>
        <div id="pullUp" style="display:none;" >
            <span class="pullUpIcon"></span><span class="pullUpLabel">Pull up to refresh...</span>
        </div>
    </div>
</div>

<p id="show" style="display: none"></p>
</body>

<script src="/static/modular/daily/interview/mobile.js"></script>
<script>
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }
</script>
</html>