<!DOCTYPE html>
<html lang="en">
<title>面试题管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/modular/daily/interview/mobileDetail.css" rel="stylesheet" >
<script src="/static/js/jquery.min.js"></script>

<body>
<div class="triangle-facing-right"></div>
<div class="title">
    <th th:text="${interview.name}"></th>
</div>
<div class="content">
    <th th:utext="${interview.context}"></th>
</div>
</body>

<script src="/static/modular/daily/interview/mobileDetail.js"></script>
</html>