<!DOCTYPE html>
<html lang="en">
<title>笔记管理</title>
<head th:include="common/common :: common_common"></head>
<head th:include="common/ueditor :: ueditor_ueditor"></head>
<body>
<div class="body">
    <div class="p-t justify">
        <div class="p-t-l">
            <h2>笔记管理</h2>
        </div>
        <div class="p-t-r">

        </div>
    </div>
    <div class="p-b">
        <form class="layui-form flex demoTable" id="searchForm">
            <input name="name" class="layui-input" style="width: 200px;" placeholder="笔记标题"/>
            <button type="button"  class="layui-btn" onclick="page()">搜索</button>
        </form>
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>
</div>
</body>



<link href="/static/modular/daily/notes/index.css?v=4.1.0" rel="stylesheet"/>
<script src="/static/modular/daily/notes/index.js" ></script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn" lay-event="create">创建</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <div class="flex item-content">
        <i class="layui-btn layui-btn-xs" lay-event="edit">编辑</i>
    </div>
</script>
<script type="text/html" id="tpl">
    <form class="layui-form" id="form">
        <input name="id" type="hidden" value="{{model.id}}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input name="title" class="layui-input" required value="{{model.title}}" type="text"/>
            </div>
        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea name="context" class="" id="context" ></textarea>
            </div>
        </div>
    </form>
</script>
</html>
