.p-t {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-bottom: 1px solid #eee;
}

.p-b-l {
    overflow-x: scroll;
    width: 25%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    height: calc(100vh - 61px);
    border-right: 1px solid #eee;
}
.p-b-r {
    width: 75%
}
.layui-tree.layui-tree-line {
    overflow: hidden;
}

.rightClickUl {
    padding: 10px;
}
.liHover {
    cursor: pointer;
    padding: 5px;
    border-radius: 5%;
}
.liHover:hover {
    background-color: #E1E1E1;
}
.xm-body {
    height: 300px;
}
.scroll-body {
    height: 290px;
}
.tree-entry-selected {
    background-color: #f3f3f3 !important;
}
.edui-editor-body, .edui-body-container {
    height: 200px;
}
