<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bc.finance.modular.daily.mapper.DailyBookMapper">

    <select id="paging" resultType="java.util.Map">
        select id, name, published_date publishedDate, end
             , t.lastUpdateTime
        from daily_book db
        left join (
            select book_id, max(crt_time) lastUpdateTime from (
                select book_id, crt_time from daily_book_chapter dbc
                union
                select book_id, crt_time from daily_book_notes dbn
            )t group by book_id
        )t on db.id=t.book_id
        order by end asc
    </select>
</mapper>
