<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bc.finance.modular.daily.mapper.DailyBookNotesMapper">

    <select id="listing" resultType="java.util.Map">
        select id, `title`, context
        , (select `name` from daily_book db where db.id=dbn.book_id) bookName
        , (select ifnull(seq, '') seq from daily_book_chapter dbc where dbc.id=dbn.chapter_id) seq
        from daily_book_notes dbn
        <where>
            <if test="param.name!=null and param.name!=''">
                and dbn.title like concat('%', #{param.name}, '%')
            </if>
            <if test="param.bookId!=null and param.bookId!=''">
                and dbn.book_id=#{param.bookId}
            </if>
            <if test="param.chapterId!=null and param.chapterId!=''">
                and exists (
                    select 1 from daily_book_chapter dbc
                    inner join (select book_id, `number` from daily_book_chapter where id=#{param.chapterId})  t
                    on dbc.numbers like concat("%[", t.number, "]%") and dbc.book_id=t.book_id
                    where dbn.chapter_id=dbc.id
                )
            </if>
        </where>

    </select>
</mapper>
