<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bc.finance.modular.daily.mapper.DailyAccountPasswordMapper">

    <select id="page" resultType="java.util.Map">
        select `id`, `company_id` companyId, url, account, password, `describe`
        from daily_account_password dap
        <where>
            <if test="param.url!=null and param.url!=''">
                and dap.url like concat('%', #{param.url}, '%')
            </if>
            <if test="param.account!=null and param.account!=''">
                and dap.account like concat('%', #{param.account}, '%')
            </if>
            <if test="param.describe!=null and param.describe!=''">
                and dap.`describe` like concat('%', #{param.describe}, '%')
            </if>
        </where>
        <if test="param.orderby!=null and param.orderby!=''">
            order by crt_time desc
        </if>
    </select>
</mapper>
