<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bc.finance.modular.daily.mapper.DailyInterviewMapper">

    <select id="paging" resultType="java.util.Map">
        select id, name,
                ifnull(substring(simplify_context, locate(#{param.name}, simplify_context), 100), '') substr_context,
               (select name from daily_interview_title dit where dit.id=di.title_id) title
        from daily_interview di
        <where>
            <if test="param.name!=null and param.name!=''">
                and (name like concat('%', #{param.name}, '%') or simplify_context like concat('%', #{param.name}, '%'))
            </if>
            <if test="param.titleId!=null and param.titleId!=''">
                and (title_id=#{param.titleId}
                    or title_id in (select id from daily_interview_title where parent_id=#{param.titleId}))
            </if>
            <if test="param.subTitleId!=null and param.subTitleId!=''">
                and title_id=#{param.subTitleId}
            </if>
        </where>
        order by sort desc, id asc

    </select>
</mapper>
